body {
    background-image: url("../../img/bg01.jpg");
}

main {
    min-height: 80vh;
}

#main {
    min-height: 100vh;
}




// 섹션 공통 요소
section {
    padding: 40px;

    @media (max-width: 800px) {
        padding: 20px;
    }

    h2 {
        font-size: 1.25rem;
        margin-bottom: 1rem;

        em {
            position: relative;

            &::after {
                content: '';
                width: 100%;
                height: 50%;
                background-color: var(--red100);
                position: absolute;
                left: 0;
                bottom: 0;
                z-index: -1;
                border-radius: 30px;
            }
        }
    }
}

// 섹션 로딩 소스
.isLoading {
    opacity: 0;
    transition: opacity 0.5s;
}

.isLoaded {
    opacity: 1;
    transition: opacity 0.5s;
}

.reple {
    max-width: 600px;
    border: 1px solid #000;
    margin: 20px auto;
    padding: 10px;
    position: relative;
}

.reple-info {
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 1000;
}

.modal {
    border: 1px solid #000;
    background-color: #fff;
    padding: 10px;
}

.mypage {
    text-align: center;
    padding: 20px;
}

.mypage label {
    cursor: pointer;
}

.mypage input {
    display: none;
}

.list__search {
    display: flex;
    align-items: center;
    justify-content: center;
    /* Add this line to center horizontally */

    input {
        padding: 5px;
        margin: 20px;
        border: 1px solid #ccc;
        border-radius: 3px;
        outline: none;
        width: 500px;

        &:focus {
            border-color: #fff700;
        }
    }

    button {
        padding: 5px 10px;
        background-color: var(--black);
        color: #fff;
        border: none;
        border-radius: 3px;
        cursor: pointer;


    }

    :hover {
        background-color: #fff;
        color: #000;
    }

    .write {
        margin-left: 5px;
    }
}


.list__btn {
    button {
        margin-left: 20px;

        &:last-child {
            margin-right: 0;
        }

        padding: 5px 10px;
        background-color: var(--black); // Change the color to your preferred button color
        color: #fff; // Change the color to your preferred text color
        border: 1px solid var(--white);
        border-radius: 3px;
        cursor: pointer;

        &:hover {
            background-color: #ffffff; // Change the color to your preferred hover color
            color: #000;
        }
    }


    .cate {
        margin-left: 20px;
        padding: 5px 10px;
        border-radius: 3px;
        background: #000;
        color: #fff;
        border: 1px solid #fff;
    }
}